{{>_header}}
<main>
    <div class="container">
        <div class="row mb-4">              
            <div class="col">
                <h1>Painel administrativo</h1>
                <hr>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h2 class="">Gerenciar usuários do sistema</h2>
                        <hr>
                        <div class="card mb-2">
                            <div class="card-body">
                                <h3 class="">Usuários</h3>
                                <hr>
                                <a href="/admin/lista/usuarios"><button class="btn btn-primary">Consultar lista de usuários</button></a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h3 class="">Atletas / Fichas</h3>
                                <hr>
                                <a href="/admin/lista/atletas"><button class="btn btn-primary">Consultar lista de atletas</button></a>
                                <a href="/admin/cadastrar/atleta"><button class="btn btn-success">Cadastrar novo atleta</button></a>                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h2 class="">Gerenciar publicações</h2>
                        <hr>
                        <div class="card mb-2">
                            <div class="card-body">
                                <h3>Postagens</h3>
                                <hr>
                                <a href=""><button class="btn btn-primary">Listar postagens</button></a>
                                <a href=""><button class="btn btn-success">Escrever nova postagem</button></a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h3>Categorias</h3>
                                <hr>
                                <a href=""><button class="btn btn-primary">Listar categorias</button></a>
                                <a href=""><button class="btn btn-success">Criar nova categoria</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>
{{>_footer}}