* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Inter&family=Montserrat&family=Pacifico&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

main {
    min-height: 80vh;
    // padding: 60px;
}

.header {

    p {
        margin: 0;
    }
    
    .title-area {
        display: flex;
        flex-direction: column;
        color: white;
        margin-left: 40px;
        
        .header-title {
            font-size: 14pt;
            font-weight: bold;
        }
        
        .header-subtitle {
            font-size: 20pt;
            font-family: 'Grand Hotel', cursive;
        }
    }

    .navbar-toggler {
        color: white;
        background-color: white;
        margin-right: 40px;
    }
}

.carousel {
    width: 100%;
    background-color: blue;
    display: flex;
    flex-direction: row;

    .carousel-item {
        width: 100%;
        background-color: purple;
        display: flex;
        justify-content: center;
    }
    .carousel-image {
        width: 200px;
    }
}

// Index
#heading {
    width: 100%;
    display: flex;
    background-color: rgb(212, 212, 212);
    justify-content: center;
    
    #heading-cover {
        width: 60%;
    }
}

#carousel {
    width: 100%;
    display: flex;
    background-color: rgb(212, 212, 212);
    justify-content: center;
    align-items: center;
    
    .left-arrow,
    .right-arrow {
        position: absolute;
        min-width: 46px;
        min-height: 46px;
        padding: 6px;
        border-radius: 100%;
        text-align: center;
        font-weight: bold;
        border: none;
        background-color: var(--bs-yellow);
        z-index: 10;
        opacity: 30%;
        transition: .2s ease-in-out opacity;
        
        &:hover {
            background-color: var(--bs-orange);
            opacity: 100%;
        }
    }

    .left-arrow {
        left: 20px;
    }
    .right-arrow {
        right: 20px;
    }

    #image {
        width: 60%;
    }
}

footer {
    padding: 12px 20px;
    background-color: rgb(39, 39, 39);
    // background-color: rgb(112, 112, 112);
    font-family: monospace;
    font-size: 10pt;
    color: rgb(235, 235, 235);

    p {
        margin: 0;
    }

    #dev-url {
        color: white;
    }
}

// Notícias
.noticia {

    width: 100%;

    .imagem-noticia {

        width: 100%;
        height: 160px;
        text-align: center;

        img {
            max-width: 100%;
            max-height: 160px;
        }
    }
}

// PC or Wider
@media screen and (min-width: 1024px) {
    .header {
        .title-area {
            max-width: 80%;
            margin: 10px 40px;

            .header-title {
                font-size: 16pt;
            }
            .header-subtitle {
                font-size: 20pt;
            }

        }
    }
}
// Tablet
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .header {

        .title-area {
            max-width: 80%;
            margin: 10px 40px;

            .header-title {
                font-size: 16pt;
            }
            .header-subtitle {
                font-size: 16pt;
            }

        }
    }
}
// Mobile
@media screen and (max-width: 767px) {
    .container {
        padding: 40px 30px;
    }

    .header {
        .title-area {
            max-width: 80%;
            margin: 8px 10px;

            .header-title {
                font-size: 12pt;
            }
            .header-subtitle {
                font-size: 12pt;
            }
        }

        .navbar-toggler {
            margin-right: 10px;
        }
    }

    #patrocinadores {
        #galeria {
            gap: 6px;
            grid-template-columns: repeat(2, 1fr);
            transition: none;
            transform: none;
        }
    }
}



// Printing Layout
@media print {
    // Esconder elementos
    #body-header,
    #body-footer,
    #gerenciar-fichas {
        display: none;
    }
}

// General Classes

// Jumbotron Classes
.jumbotron {
    padding: 60px 60px 40px 60px;
    border-radius: 8px;
}

// Image Gallery
.image-gallery {
    display: grid;
    grid-template-columns: repeat(max(4), 1fr);
    gap: 12px;

    img {
        width: 100%;
        border-radius: 3px;
    }

    .gallery-frame {
        width: 100%;
    }
}

.image-magnify img {
    transform: scale(1);
}
.image-magnify img:hover {
    transform: scale(1.1);
    transition: ease-in-out .4s transform;
}

// Background Colors
.bg-orangered {
    background: orangered;
}

// Margins
.mb-6 {
    margin-bottom: 60px !important;
}
.mt-6 {
    margin-top: 60px !important;
}

// Bootstrap Classes :: Override

.container {
    padding: 60px 60px;
}
.input-image-wrapper {
    width: 300px;
    height: 300px;
    z-index: 999;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;

    #message {
        position: absolute;
        width: 300px;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        z-index: 1;
    }
    

    #image-input {
        display: none;
    }
    
    .input-image-preview {
        width: 300px;
        height: 300px;
        background-color: rgb(209, 209, 209);
        position: relative;
        border-radius: 4px;
    }
    // &::before {
    //     content: "Clique para adicionar uma imagem";
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     width: 300px;
    //     height: 306px;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     z-index: 1;
    // }

    &:hover::after {
        content: "Clique para adicionar/alterar";
        color: #000000;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.4);
        -moz-backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(2px);
        backdrop-filter: blur(2px);
        width: 300px;
        height: 300px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        border-radius: 4px;
    }
}