{{>_header}}
<main>
    <div class="container">
        <div id="carrosel_noticias" class="mb-6">
            <div class=""><h1>Ultimas notícias</h1></div>
            <div class="noticia">Notícia 01</div>
            <div class="noticia">Notícia 02</div>
            <div class="noticia">Notícia 03</div>
        </div>
        <div>
            <div class="card noticia mb-4">
                <div class="card-body">
                    <div class="imagem-noticia mb-1">
                        <img src="/img/landing.png" alt="">
                    </div>
                    <div class="titulo-noticia">
                        <h3>Primeiros jogos da Seleção Maranguapense de 2023</h3>
                    </div>
                    <div class="info-noticia">
                        <small>Data da publicação: 17/01/2023</small>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</main>
{{>_footer}}