<footer class="footer">
    <div id="dev-area">
        <p>Desenvolvido por <a href="https://br.linkedin.com/in/kervi-jhonata-090341165" id="dev-url">Kervi Jhonata</a>.</p>
    </div>
    <div id="info-projeto">
        <p>Associação esportiva de Maranguape | Projeto Vôlei para todos.</p>
    </div>
    <div class="data-info">
        <p>Maranguape, 2022.</p>
    </div>
</footer>