
{{!-- Mensagens de Sucesso --}}
{{#if successMessage}}
    <div class="alert alert-success">{{successMessage}}</div>
{{/if}}

{{!-- Mensagens de erro --}}
{{#if errorMessage}}
    <div class="alert alert-danger">{{errorMessage}}</div>
{{/if}}

{{!-- Mensagens de Teste --}}
{{#if test}}
    <div class="alert alert-success">{{test}}</div>
{{/if}}
