{{>_header}}
{{>_messages}}
<main>
    {{!-- <div id="heading">
        <img src="/img/heading.webp" id="heading-cover" alt="Capa do Projeto">
    </div> --}}
    <div id="carousel" style="overflow: hidden;">
        <button class="left-arrow">&lt;</button>
        <img src="/img/heading.webp" id="imager" alt="Capa do Projeto">
        <button class="right-arrow">&gt;</button>
    </div>

    <div class="container">
        <div id="apresentacao" class="row mb-4">
            <h1>Quem Somos</h1>
            <p class="">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat, optio! Nihil error repellendus praesentium non similique, dolor iusto quasi officiis facere repellat! Commodi dolores laudantium, distinctio adipisci vero cumque nostrum? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum necessitatibus magnam id odit, in temporibus tempore voluptates eligendi ipsum aperiam nesciunt voluptate officiis iusto atque, iste, quo laborum. Commodi, saepe.
            </p>
            <p>Acesse o nosso <a href="/portal">portal</a> para ser atualizado das últimas novidades.</p>
        </div>
        <div id="patrocinadores" class="row">
            <h1>Nossos patrocinadores</h1>
            <p>Conheça um pouco mais desta equipe que torna os nossos sonhos possíveis:</p>

            <div class="row" id="galeria">
                <img src="https://via.placeholder.com/200/6610f2" alt="Placeholder Fill Image">
                <img src="https://via.placeholder.com/200/0dcaf0" alt="Placeholder Fill Image">
                <img src="https://via.placeholder.com/200/f0cefe" alt="Placeholder Fill Image">
                <img src="https://via.placeholder.com/200/d63384" alt="Placeholder Fill Image">
                <img src="https://via.placeholder.com/200/f0c000" alt="Placeholder Fill Image">
                <img src="https://via.placeholder.com/200/f0cefe" alt="Placeholder Fill Image">
                <img src="https://via.placeholder.com/200/e6e6e6" alt="Placeholder Fill Image">
                <img src="https://via.placeholder.com/200" alt="Placeholder Fill Image">
                </div>
            </div>
        </div>
    </div>
</main>
{{>_footer}}