{{>_header}}

<div class="container">

    {{>_messages}}
    
    <h1>Recuperação de Senha</h1>

    <form action="/passwordrecovery/send_email" method="post" class="card">
        <div class="card-body">
            <label for="email">Insira seu email:</label>
            <input type="email" class="form-control mt-2" name="email" id="" required>
        </div>
        <div class="card-body">
            <button type="submit" class="btn btn-success">Enviar</button>
        </div>
    </form>
</div>

{{>_footer}}